# duplicate this file, rename it as .env, and tailor to your local environment

NODE_ENV=development

JWT_SECRET=

# DB URI for Ethereum Event Listener service
EEL_MONGODB_URI=mongodb://localhost:27017/eel

# DB URI for this project
TITLE_REGISTRY_MONGODB_URI=mongodb://localhost:27017/codex-title-registry

ETHEREUM_RPC_URL=http://localhost:7545
ETHEREUM_NETWORK_ID=5777
